.style16-tab .Joombest-tabs-title-wrap .tabscroll-prev, .style16-tab .Joombest-tabs-title-wrap .tabscroll-next {
}

.style16-tab .Joombest-tabs-title-wrap .tabscroll-prev {
    border-radius: 5px 0 0 5px;
}

.style16-tab .Joombest-tabs-title-wrap .tabscroll-next {
    border-radius: 0 5px 5px 0;
}

.style16-tab .Joombest-tabs-title-top ul.Joombest-tabs-title li, .style16-tab .Joombest-tabs-title-bottom ul.Joombest-tabs-title li {
	margin-right: 3px;
}

.style16-tab .Joombest-tabs-align-ctstify ul.Joombest-tabs-title li {
	padding: 0 2px;
}

.style16-tab .Joombest-tabs-align-ctstify ul.Joombest-tabs-title li.first {
	padding-left: 10px;
}

.style16-tab .Joombest-tabs-align-ctstify ul.Joombest-tabs-title li.last {
	padding-right: 10px;
}


.style16-tab .Joombest-tabs-title-top ul.Joombest-tabs-title li.active h3 {
	/*background: none repeat scroll 0% 0% #EE9900;*/
}

.style16-tab .Joombest-tabs-title-top ul.Joombest-tabs-title li h3 {
}

.style16-tab .Joombest-tabs-title-bottom ul.Joombest-tabs-title li.active h3 {
	background: none repeat scroll 0% 0% #EE9900;
}

.style16-tab .Joombest-tabs-title-top ul.Joombest-tabs-title li h3 {
	border-right: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-top: 1px solid #E7E7E7;
	background: url("../images/images-tab_bg1.png") repeat-x scroll 0px bottom #FCFCFC;
	border-radius: 5px 5px 0px 0px;
}

.style16-tab .Joombest-tabs-title-bottom ul.Joombest-tabs-title li h3 {
	border-right: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	background: url("../images/images-tab_bg2.png") repeat-x scroll 0px top #FCFCFC;
	border-radius: 0px 0px 5px 5px;
}

.style16-tab .Joombest-tabs-title-left ul.Joombest-tabs-title li, .style16-tab .Joombest-tabs-title-right ul.Joombest-tabs-title li {
	padding: 0px;
	margin: 0px 0px 3px;
	width:146px;
}

.style16-tab .Joombest-tabs-title-left ul.Joombest-tabs-title li.last, .style16-tab .Joombest-tabs-title-right ul.Joombest-tabs-title li.last {
	margin-bottom: 0px;
}

.style16-tab .Joombest-tabs-title-right ul.Joombest-tabs-title li.active h3 {
	/*background: none repeat scroll 0% 0% #EE9900;*/
}

.style16-tab .Joombest-tabs-title-right ul.Joombest-tabs-title li h3 {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	background: url("../images/images-tab_bg4.png") repeat-y scroll left 0px #FFFFFF;
	border-radius: 0px 5px 5px 0px;
}

.style16-tab .Joombest-tabs-title-left ul.Joombest-tabs-title li.active h3 {
	/*background: none repeat scroll 0% 0% #EE9900;*/
}

.style16-tab .Joombest-tabs-title-left ul.Joombest-tabs-title li h3 {
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	background: url("../images/images-tab_bg3.png") repeat-y scroll right 0px #FFFFFF;
	border-radius: 5px 0px 0px 5px;
}

.style16-tab .Joombest-tabs-title-top ul.Joombest-tabs-title li.first, .style16-tab .Joombest-tabs-title-bottom ul.Joombest-tabs-title li.first {
	margin-left: 10px;
}

.style16-tab .Joombest-tabs-title-scroll ul.Joombest-tabs-title li.first, .style16-tab .Joombest-tabs-title-scroll ul.Joombest-tabs-title li.first {
	margin-left: 0;
}

.style16-tab .Joombest-tabs-title-top ul.Joombest-tabs-title li.last, .style16-tab .Joombest-tabs-title-bottom ul.Joombest-tabs-title li.last {
	margin-right: 10px;
}

.style16-tab .Joombest-tabs-title-scroll ul.Joombest-tabs-title li.last, .style16-tab .Joombest-tabs-title-scroll ul.Joombest-tabs-title li.last {
	margin-right: 0;
}

.style16-tab .Joombest-tabs-title-top ul.Joombest-tabs-title li.first.active h3, .style16-tab .Joombest-tabs-title-bottom ul.Joombest-tabs-title li.first.active h3 {
	border-left: 0px none;
}

.style16-tab .Joombest-tabs-title-left ul.Joombest-tabs-title li.first, .style16-tab .Joombest-tabs-title-right ul.Joombest-tabs-title li.first {
	margin-top: 10px;
}

.style16-tab .Joombest-tabs-title-left ul.Joombest-tabs-title li.first.active h3, .style16-tab .Joombest-tabs-title-right ul.Joombest-tabs-title li.first.active h3 {
	border-top: 0px none;
}

.style16-tab .Joombest-tabs-title-top ul.Joombest-tabs-title {
	width: 100%;
}

.style16-tab .Joombest-tabs-title-wrap.Joombest-tabs-title-top {
}

.style16-tab .Joombest-tabs-title-bottom ul.Joombest-tabs-title {
	width: 100%;
}

.style16-tab .Joombest-tabs-title-left ul.Joombest-tabs-title {
	/*border-right: 4px solid #EE9900;*/
}

.style16-tab .Joombest-tabs-title-right ul.Joombest-tabs-title {
	/*border-left: 4px solid #EE9900;*/
	width: auto;
}

.style16-tab .Joombest-tabs-title-wrap.Joombest-tabs-title-bottom {
}

.style16-tab .Joombest-tabs-title-wrap.Joombest-tabs-title-left {
	background: none repeat scroll 0% 0% transparent;
	margin-right: -4px;
}

.style16-tab .Joombest-tabs-title-wrap.Joombest-tabs-title-right {
	background: none repeat scroll 0px 0px transparent;
	margin-left: -4px;
}

.style16-tab.Joombest-tabs-wrap .Joombest-tabs-container {
	border: 0px none;
	background: none repeat scroll 0% 0% transparent;
}

.style16-tab.Joombest-tabs-wrap ul.Joombest-tabs-title li h3 {
	padding: 0px ! important;
	line-height: 20px;
	text-transform: uppercase;
	font-size: 12px !important; 
}

.style16-tab.Joombest-tabs-wrap ul.Joombest-tabs-title li.active h3 {
	color: #FFFFFF;
}

.style16-tab.Joombest-tabs-wrap ul.Joombest-tabs-title li h3 span {
	padding: 8px 10px 7px;
}

.style16-tab.Joombest-tabs-wrap ul.Joombest-tabs-title h3 span.Joombest-tabs-arrow {
	display: none;
}

.style16-tab.Joombest-tabs-wrap .Joombest-tabs-panel {
	background: none repeat scroll 0% 0% #FFFFFF;
	/*border: 0px none;*/
}

.style16-tab.Joombest-tabs-wrap .Joombest-tabs-panel-top {
	/*border: 4px solid #EE9900;*/
}

.style16-tab.Joombest-tabs-wrap .Joombest-tabs-panel-bottom {
	border: 4px solid #EE9900;
}

.style16-tab.Joombest-tabs-wrap .Joombest-tabs-panel-left {
	/*border: 4px solid #EE9900;*/
}

.style16-tab.Joombest-tabs-wrap .Joombest-tabs-panel-right {
	/*border: 4px solid #EE9900;*/
}

.style16-tab.Joombest-tabs-wrap .Joombest-tabs-panel .Joombest-tabs-content {
}

.style16-tab.Joombest-tabs-wrap .Joombest-tabs-panel .Joombest-tabs-content .Joombest-tabs-subcontent {
	padding: 10px;
}